@font-face {
    font-family: 'cottage';
    src: url('./fonts/DreamCottage-Regular.woff') format('woff'),
         url('./fonts/DreamCottage-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}   

.helloWorld{
    font-size: xx-large;
    font-family: 'cottage';

}

